<section class="main-banner">
  <div class="banner-content">
    <h1>Fiche demande de travail</h1>
    <hr>
    <form [formGroup]="AddDemandeTravail" (ngSubmit)="onFormSubmit()">

      <div>
        <button (click)="NavigateDemTravailToCC()"> Choisisser Centre Cout </button>
        <br>
        <mat-form-field class="example-full-width" appearance="fill" class="form-control">
          <label>Centre cout : </label>
          <input matInput class="form-control" type="text" appearance="fill" class="example-full-width" id="CentreCout"
            name="CentreCout" formControlName="CentreCout" placeholder="_______________">
        </mat-form-field>
<br>


        <mat-form-field class="example-full-width" appearance="fill" class="form-control">
          <label>Personne/Contact : </label>
          <input matInput class="form-control" formControlName="Contact" class="example-full-width" id="Contact"
            name="Contact" placeholder="__________________">
        </mat-form-field>


        <mat-form-field class="example-full-width" class="form-control">
          <label>Nature intervention : </label>
          <select title="Nature" formControlName="Nature" id="Nature">
            <option [ngValue]="null">Choisir une option</option>
            <option value="Amelioration">Amelioration</option>
            <option value="Changement piece">Changement piece</option>
            <option value="Consommable">Consommable</option>
            <option value="Entretien Preventive">Entretien Préventive</option>
            <option value="Fourniture">Fourniture</option>
            <option value="Modification">Modification</option>
            <option value="Preventive auto">Préventive auto</option>
            <option value="Reparation">Reparation</option>
            <option value="Service">Service</option>
            <option value="Travail neuf">Travail neuf</option>
          </select>
        </mat-form-field>


        <mat-form-field class="example-full-width" class="form-control">
          <label>Nature panne : </label>
          <select title="NatPanne" formControlName="NatPanne" id="NatPanne">
            <option [ngValue]="null">Choisir une option</option>
            <option value="Electrique">Electrique </option>
            <option value="Mecanique">Mecanique</option>
            <option value="Autres">Autres</option>

          </select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill" class="form-control">
          <label>Description : </label>
          <input matInput class="form-control" formControlName="Description" class="example-full-width" id="Description"
            name="Description" placeholder="___________________">
        </mat-form-field>
      </div>
      <div>

        <mat-form-field class="example-full-width" class="form-control">
          <label>Consommable : </label>
          <select title="Consommable" id="Consommable" formControlName="Consommable">
            <option [ngValue]="null">Choisir une option</option>
            <option value="Changement Meule  Dérayeuse RIZZI">Changement Meule Dérayeuse RIZZI </option>
            <option value="Changement Meule Dérayeuse MERCIER FRERES ">Changement Meule Dérayeuse MERCIER FRERES
            </option>
            <option value="Changement Meule Dérayeuse FLAMAR 1500">Changement Meule Dérayeuse FLAMAR 1500</option>
            <option value="Changement Meule Dérayeuse FLAMAR BX3000">Changement Meule Dérayeuse FLAMAR BX3000</option>
            <option value="Changement Meule Inf. et sup Refendeuse ZENIT ">Changement Meule Inf. et sup Refendeuse ZENIT
            </option>
            <option value="Changement Meule Inf. et sup Refendeuse SIRIO ">Changement Meule Inf. et sup Refendeuse SIRIO
            </option>
            <option value="Changement Cylindre lame Dérayeuse RIZZI ">Changement Cylindre lame Dérayeuse RIZZI </option>
            <option value="Changement Cylindre lame Dérayeuse MERCIER FRERES ">Changement Cylindre lame Dérayeuse
              MERCIER FRERES </option>
            <option value="Changement Cylindre lame Dérayeuse FLAMAR 1500">Changement Cylindre lame Dérayeuse FLAMAR
              1500</option>
            <option value="Changement Cylindre lame Dérayeuse FLAMAR BX3000">Changement Cylindre lame Dérayeuse FLAMAR
              BX3000</option>
            <option value="Changement lame  Refendeuse ZENIT ">Changement lame Refendeuse ZENIT </option>
            <option value="Changement lame Refendeuse SIRIO">Changement lame Refendeuse SIRIO </option>
            <option value="Changement lame Inox  GEMATA">Changement lame Inox GEMATA </option>
            <option value="Changement Pistolet  Pigmenteuse ">Changement Pistolet Pigmenteuse </option>
            <option value="Ajout fils perlants  Pigmenteuse ">Ajout fils perlants Pigmenteuse </option>
            <option value="Changement Manchon en gomme  Ponceuse BERGI 1800">Changement Manchon en gomme Ponceuse BERGI
              1800</option>
            <option value="Changement Manchon en gomme Ponceuse BERGI 3200">Changement Manchon en gomme Ponceuse BERGI
              3200</option>
            <option value="Changement Manchon en gomme Ponceuse FICINI 1900">Changement Manchon en gomme Ponceuse FICINI
              1900</option>
            <option value="Changement Tapis PVC  Rotopress MOSTARDINI 3000">Changement Tapis PVC Rotopress MOSTARDINI
              3000</option>
            <option value="Changement Tapis PVC Rotopress RG18">Changement Tapis PVC Rotopress RG18</option>
            <option value="Changement tapis GOMME  GEMATA ">Changement tapis GOMME GEMATA</option>
            <option value="Changement tapis FEUTRE  Metteuse au vent RM ">Changement tapis FEUTRE Metteuse au vent RM
            </option>
            <option value="Changement tapis FEUTRE Rotopress MOSTARDINI 3000">Changement tapis FEUTRE Rotopress
              MOSTARDINI 3000</option>
            <option value="Changement tapis FEUTRE Rotopress RG18">Changement tapis FEUTRE Rotopress RG18</option>
            <option value="Changement Tapis Inf. et Sup. Palisonneuse CARTIGL">Changement Tapis Inf. et Sup.
              Palisonneuse CARTIGL</option>
            <option value="Changement Cylindre Lame Echarneuse OMC">Changement Cylindre Lame Echarneuse OMC</option>
            <option value="Changement Cylindre Lame Echarneuse POLETTO">Changement Cylindre Lame Echarneuse POLETTO
            </option>
            <option value="Changement Cylindre gomme Echarneuse OMC">Changement Cylindre gomme Echarneuse OMC</option>
            <option value="Changement Cylindre gomme Echarneuse POLETTO">Changement Cylindre gomme Echarneuse POLETTO
            </option>
          </select>
        </mat-form-field>



      </div>
      <div>
        <mat-form-field class="example-full-width" appearance="fill" class="form-control">
          <label>Date souhait : </label>
          <input matInput class="form-control" type="date" class="example-full-width" placeholder="date souhaite"
            id="DateSouh" formControlName="DateSouh" MatFormFieldControl="DateSouh">
        </mat-form-field>


        <mat-label>Arrêt machine </mat-label>
        <mat-checkbox formControlName="ArretMachine" id="ArretMachine" title="ArretMachine" >
        </mat-checkbox>
      </div>


              <hr>
      <div class="container-upload">
        <button class="btn btn-primary" type="submit">Ajouter</button>
        <button class="btn btn-primary" type="reset">Annuler</button>
      </div>
    </form>
  </div>

</section>