div.scrollmenu {
    background-color: #b5a281;
    overflow: auto;
    white-space: nowrap;
  }
  .selected {
    background-color: #f5f5f5;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  button{
    font-weight:400;
    color:#28a3a7;
    margin-left: 15px;
    line-height: 10px;
    border-width: 0.05cqb;
  }
  
  label{
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }
  
    div.container style{
      padding-top:20px;
    }
  
    .example-container {
      display: flex;
      flex-direction: column;
      min-width: 300px;
    }
    
    .mat-header-cell {
      font-weight: bold;
      font-size: 14px;
    }
    
  /* Structure */
  .container {
    display: flex;
    flex-direction: column;
  }
  
  /* Toolbar */
  .spacer {
    flex: 1 1 auto;
  }
  
  /* Filter */
  .form {
    min-height: 56px;
    max-height: 56px;
    display: flex;
    align-items: center;
    padding: 8px 24px 0;
    font-size: 14px;
    justify-content: space-between;
    border-bottom: 1px solid transparent;
  }
  
  .mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-top: 8px;
  }
  

  
  table {
    border-width:1px; 
    border-style:solid; 
    border-color:gainsboro;
    width:100%;
    }
    
  /* Mat table */
  .no-results {
    display: flex;
    justify-content: center;
    padding: 18px;
    font-size: 18px;
    font-style: italic;
  }
  
  .mat-header-cell {
    font-weight: bold;
    font-size: 14px;
  }

  