


<section class="main-banner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="banner-content">
            <div class="row">
              <div class="col-md-12">
                <div class="banner-caption">
                  <div class="col-sm-12 btn btn-sucscess">
                    <h3> Bienvenue dans La gestion des Equipements</h3>

                  </div>
                  
                </div>
  
  <hr>
                <form id="addEquipement" action="" method="post">
  
                  <tr>
                    <div class="form-group row">
                      <div>
                        <fieldset>
                          <label class="col-sm-4 col-form-label" for="">Code piéce : </label>
                          <input type="text" name="CodePiece" id="CodePiece" class="form-control" placeholder="CodePiece"
                            aria-describedby="helpId">
                          <small id="helpId" class="text-muted"> </small>
                        </fieldset>
                      </div>
                    </div>
                  </tr>
  
                  <tr>
                    <div class="form-group row">
                      <div>
                        <fieldset>
                          <label class="col-sm-4 col-form-label" for="">Désignation : </label>
                          <input type="text" name="Designation" id="Designation" class="form-control"
                            placeholder="Designation" aria-describedby="helpId">
                          <small id="helpId1" class="text-muted"></small>
                        </fieldset>
                      </div>
                    </div>
                  </tr>
                  <tr>
                    <div class="form-group row">
                      <div>
                        <fieldset>
                          <label for="" class="col-sm-4 col-form-label">Ancien code : </label>
                          <input type="text" name="AncienCode" id="AncienCode" class="form-control"
                            placeholder="AncienCode" aria-describedby="helpId3">
                          <small id="helpId1" class="text-muted"></small>
                        </fieldset>
                      </div>
                    </div>
                  </tr>
                  <tr>
                    <div class="form-group row ">
                      <div>
                        <fieldset>
                          <label for="" class="col-sm-4 col-form-label">Unite : </label>
                          <input type="text" name="Unite" id="Unite" class="form-control" placeholder="Unite"
                            aria-describedby="helpId3">
                          <small id="helpId3" class="text-muted"></small>
                        </fieldset>
                      </div>
                    </div>
                  </tr>
                  <tr>
                    <div class="form-group row">
                      <div>
                        <fieldset>
                          <label for="" class="col-sm-4 col-form-label">Date achat : </label>
                          <input type="datetime-local" id="DateAchat" name="DateAchat" class="form-control"
                            placeholder="pick a date">
                          <small id="helpId31" class="text-muted"></small>
                        </fieldset>
                      </div>
                    </div>
                  </tr>
                  <tr>
                    <div class="form-group row">
                      <div>
                        <fieldset>
                          <label for="" class="col-sm-4 col-form-label">Date Fabrication : </label>
                          <input type="datetime-local" id="Datefabrication" name="DateFabrication" class="form-control"
                            placeholder="pick a date">
                          <small id="helpId341" class="text-muted"></small>
                        </fieldset>
                      </div>
                    </div>
                  </tr>
                  <tr>
                    <div class="form-group row">
                      <div>
                        <fieldset>
                          <label for="" class="col-sm-4 col-form-label">Marque : </label>
                          <input type="text" name="Marque" id="Marque" class="form-control" placeholder="Marque">
                        </fieldset>
                      </div>
                    </div>
                  </tr>
                  <tr>
                    <div class="form-group row ">
                      <div>
                        <fieldset>
                          <label for="" class="col-sm-4 col-form-label">Nature : </label>
                          <input type="text" name="Nature" id="Nature" class="form-control" placeholder="Nature">
                        </fieldset>
                      </div>
                    </div>
                  </tr>
                  <tr>
                    <div class="form-group row ">
                      <div>
                        <fieldset>
                          <label for="" class="col-sm-4 col-form-label">Machine : </label>
                          <input type="text" name="Machine" id="Machine" class="form-control" placeholder="Machine">
                        </fieldset>
                      </div>
                    </div>
                  </tr>
                  <tr>
                    <div class="form-group row">
                      <div>
                        <fieldset>
                          <label for="" class="col-sm-4 col-form-label">Numéro serie : </label>
                          <input type="text" name="NumSerie" id="NumSerie" class="form-control" placeholder="NumSerie">
                        </fieldset>
                      </div>
                    </div>
                  </tr>
                  <tr>
                    <div class="form-group row">
                      <div>
                        <fieldset>
                          <label for="CentreCout" class="col-sm-4 col-form-label">Centre Cout : </label>
  
                          <select name="CentreCout" id="CentreCout">
                            <option value="">--Please choose an option--</option>
                            <select name="Megesserie" id="megesserie">
                              <option value="riviere">riviere</option>
                              <option value="teinture">teinture</option>
                            </select>
  
                            <option value="Tannerie">Tannerie</option>
                            <option value="Magasin">Magasin</option>
                            <option value="Station">Station</option>
                          </select>
                        </fieldset>
                      </div>
                    </div>
                  </tr>
                  <tr>
                    <div class="form-group row">
                      <div>
                        <fieldset>
                          <label for="" class="col-sm-4 col-form-label">Qte stock : </label>
                          <input type="text" name="QteStock" id="QteStock" class="form-control" placeholder="QteStock">
                        </fieldset>
                      </div>
                    </div>
                  </tr>
  
                  <tr>
                    <div class="form-group row">
                      <div>
                        <fieldset>
                          <label for="" class="col-sm-4 col-form-label">Stock sécurite : </label>
                          <input type="text" name="StockSecurite" id="StockSecurite" class="form-control"
                            placeholder="StockSecurite">
                        </fieldset>
                      </div>
                    </div>
                  </tr>
  
                  <tr>
                    <div class="form-group row">
                      <div>
                        <fieldset>
                          <label for="" class="col-sm-4 col-form-label">Qte économique : </label>
                          <input type="text" name="QteCmd" id="QteCmd" class="form-control" placeholder="QteCmd">
                        </fieldset>
                      </div>
                    </div>
                  </tr>
  
                  <tr>
                    <div class="form-group row">
                      <div>
                        <fieldset>
                          <label for="" class="col-sm-4 col-form-label">Fournisseur : </label>
                          <input type="text" name="Fournisseur" id="Fournisseur" class="form-control"
                            placeholder="Fournisseur">
                        </fieldset>
                      </div>
                    </div>
                  </tr>
  
                  <tr>
                    <div class="row">
                      <div>
                        <fieldset>
                          <label for="">Prix achat : </label>
                          <input type="text" name="PAchat" id="PAchat" class="form-control-row" placeholder="PAchat">
                        </fieldset>
                      </div>
                    </div>
                  </tr>
  
                  <tr>
                    <div class="row">
                      <div>
                        <fieldset>
                          <input type="checkbox" id="Obselete" name="Obselete">
                          <label for="Obselete">Obselete</label>
                        </fieldset>
                      </div>
                    </div>
                  </tr>
  
  
  
                  <div class="col-md-6">
                    <div class="filled-icon-button">
                      <a href="#"><i class="fa fa-check"></i>Enregistrer</a>
                    </div>
                  </div>
  
                  <div class="col-md-6">
                    <div class="filled-icon-button">
                      <a href="#"><i class="fa fa-check"></i>Modifier</a>
                    </div>
                  </div>
  
                  <div class="col-md-6">
                    <div class="filled-icon-button">
                      <a href="#"><i class="fa fa-check"></i>Annuler</a>
                    </div>
                  </div>
  
                </form>
  
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>